*k6/
*__pycache__/
node_modules
*.pytest_cache
*trace.json
*summary.json
*gen_lengths.json
*prompts.json
*logs
.venv
artifacts
*backups
*.png
.env
.vscode
*.patch
*.txt
*.json
!package.json
!package-lock.json
*/dist
*.egg-info
load_test/tokenized_datasets
